@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-style {
  font-family: Helvetica, sans-serif;
}

.text-gradient {
  background: linear-gradient(to right, #4a90e2, #9013fe);
  -webkit-background-clip: text; /* For Safari and Chrome */
  -moz-background-clip: text; /* For Firefox (older versions, though not commonly supported) */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For Safari and Chrome */
  -moz-text-fill-color: transparent; /* For Firefox (older versions, though not commonly supported) */
}

.bg {
  background-image: url("./bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* Blue color for spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
